# vim temporal files
*~
*.swp

# build files
*.o
*.so
*.gch

# Lighttpd directory and tar file
lighttpd-1.4.29
lighttpd-1.4.29.tar.gz

# Linux kernel source code
linux-2.6.29

# File system root directory
fs

# Homework #2 source code
tarea2
